{% extends 'womens/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">

<div class="main-container">
    <div class="auth-container reset-complete-container">
        <div class="auth-forms-panel">
            <div class="auth-form reset-complete-form active">
                <h2>PASSWORD SET SUCCESSFULLY</h2>
                <p class="form-description">Your password has been set. You can now log in to your account with your new password.</p>
                <a href="{% url 'login_register' %}" class="black-btn return-btn">LOG IN NOW</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}