{% extends 'womens/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">

<div class="main-container">
    <div class="auth-container reset-done-container">
        <div class="auth-forms-panel">
            <div class="auth-form reset-done-form active">
                <img src="{% static 'image/logo/logo-transparent.png' %}" alt="logo" class="check-logo">
                <h2 class="form-title">CHECK YOUR EMAIL</h2>
                <p class="form-description">We've emailed you instructions for setting your password.</p>
                <p class="form-description">If you don't receive an email, please check your spam folder.</p>
                <a href="{% url 'login_register' %}" class="black-btn return-btn">RETURN TO LOGIN</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}